@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1E1712;
    color: #231B15;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #F4EBD9;
}
::-webkit-scrollbar-thumb {
  background: #D5C29D;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #BAA276;
}